body {
  margin: 0;
}


/* flex bar */

.gb-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gb-bar> * {
  flex: 1;
}

.gb-bar .selectedNavigation {
  flex: 3;
}

.gb-bar .paging {
  flex: 1;
}


/* flex main */

.gb-main {
  display: flex;
  justify-content: center;
  /*text-align: center;*/
}

.gb-main .availableNavigation {
  flex: 1;
  min-width: 250px;
}

.gb-main .products {
  flex: 4;
}


/* flex list */

.gb-list {
  display: flex;
}

.gb-list> * {
  flex-grow: 1;
}
