@media screen {
/* MENU */

/* this styles the container for the menu */
.MenuGroup
{
	background-color: #E3EFFF;
	color: #01076C;
}

/* this is the normal style for a top level menu item */
.TopMenuItem
{
	border-right: 1px solid #E3EFFF;
	cursor:pointer;
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
}

/* this is the hover style for a top level menu item */
.TopMenuItemHover
{
	background-color: #8BA4FB;
	border-right: 1px solid #7E6401;
	color:#01076C;
	cursor:pointer;
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
}

/* this class displays when a top level menu item is clicked */
.TopMenuItemActive 
{
	background-color: #5872CB;
	border-right: 1px solid #E3EFFF;
	color:#E3EFFF;
	cursor:pointer;
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
}

/* this class is used to style a top level menu item when the cursor hovers over 
any of it's child items */
.TopMenuItemExpanded
{
	background-color: #5872CB;
	border-right: 1px solid #E3EFFF;
	color:#E3EFFF;
	cursor:pointer;
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
}

/* this is the normal style for a top level menu item */
.MenuItem
{
	cursor:pointer;
	border-right: 1px solid #E3EFFF;
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
}

/* this is the hover style for a top level menu item */
.MenuItemHover
{
	background-color: #8BA4FB;
	border-right: 1px solid #7E6401;
	color:#01076C;
	cursor:pointer;
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
}

/* this class displays when a menu item is clicked */
.MenuItemActive
{
	background-color: #5872CB;
	border-right: 1px solid #E3EFFF;
	color:#E3EFFF;
	cursor:pointer;
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
}

/* this class is used to style a menu item when the cursor hovers over 
any of it's child items */
.MenuItemExpanded
{
	background-color: #5872CB;
	border-right: 1px solid #E3EFFF;
	color:#E3EFFF;
	cursor:pointer;
	font-family: Arial;
	font-size: 10px;
	font-weight:bold;
}

/* this is the styling for a break item in the menu */
.MenuBreak
{
	width:100%;
	height:0px;
}

/* VERTICAL TABS */
.vTab_TopGroup
{
  z-index:24;
}

.vTab_DefaultTab
{
  background-image:url(images/ComponentArt/vTabs/nrm_bg.gif);
  font-size:10px;
  font-family: tahoma; 
  cursor:pointer;
}

.vTab_SelectedTab
{
  background-image:url(images/ComponentArt/vTabs/sel_bg.gif);
  background-color:#DDDDDD;
  font-size:10px;
  font-family: tahoma; 
  cursor:default;
}

.vTab_transparent
{
  background:transparent;
}

.vTab_MultiPageOuterFrame
{
	background-color:#DDDDDD;
	border: 1px solid black;
	padding: 3px;
	z-index:25;
}

.vTab_MultiPage
{
	z-index:98;
	border: 1px solid #BBBBBB;
	border-bottom-color: #FFFFFF;
	border-right-color: #FFFFFF;
	background-color: #E3EFFF;
	width:100%;
}

/* TABS */
.hTab_TopGroup
{
  z-index:99;
  position:relative;
}

.hTab_DefaultTab
{
  color: #444444;
  background-color: #CACACA;
  background-image:url(images/ComponentArt/hTabs/nrm_bg.gif);
  font-size:8px;
  font-family: verdana; 
  cursor:pointer;
}

.hTab_DefaultTabHover
{
  color: #444444;
  background-color: #CACACA;
  background-image:url(images/ComponentArt/hTabs/nrm_bg.gif);
  font-size:8px;
  font-family: verdana; 
  text-decoration: underline;
  cursor:pointer;
}

.hTab_SelectedTab
{
  color: #444444;
  background-color: #DACEB5;
  background-image:url(images/ComponentArt/hTabs/sel_bg.gif);
  font-size:8px;
  font-family: verdana; 
  cursor:default;
}

/*.hTab_Level2Tab
{
  color: #444444;
  font-size:8px;
  font-family: verdana; 
  cursor:pointer;
}

.hTab_Level2TabHover
{
  color: #444444;
  font-size:8px;
  font-family: verdana; 
  cursor:pointer;
}

.hTab_SelectedLevel2Tab
{
  color: #444444;
  font-size:8px;
  font-family: verdana; 
  cursor:default;
}

.hTab_Level2Group
{
  background-color: #FFFFFF;
  background-image: url(images/ComponentArt/hTabs/level2_group_bg.gif); 
  border: 1px solid #645546; 
  border-bottom-color: #493E34; 
  position: relative;
  top:-2px;
  z-index:98;
}*/

.hTab_MultiPageOuterFrame
{
	background-color:#DDDDDD;
	border: 1px solid black;
	padding: 3px;
	z-index:25;
}

.hTab_MultiPage
{
	z-index:98;
	border: 1px solid #BBBBBB;
	border-bottom-color: #FFFFFF;
	border-right-color: #FFFFFF;
	background-color: #E3EFFF;
	width:100%;
}

/* TABS */
.TopGroup
{
  z-index:99;
  position:relative;
}

.DefaultTab 
{
  color:black; 
  background-image: url(images/ComponentArt/Tabs/tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.DefaultTabHover 
{
  color:black; 
  background-image: url(images/ComponentArt/Tabs/hover_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.SelectedTab 
{
  color:black; 
  background-image: url(images/ComponentArt/Tabs/selected_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.MultiPage
{
  background-color:White;
  border: 1px solid #919B9C;
  width:487px;
  height:250px;
  position:relative;
  top:-2px;
  z-index:98;
}

/* TREE */
.TreeView 
{ 
  background-color: white; 
  cursor: default; 
} 

.TreeNode 
{ 
  font-family: arial, verdana; 
  font-size: 12px; 
  padding-left: 1px; 
  cursor: default; 
} 

.HoverTreeNode 
{ 
  font-family: arial, verdana; 
  font-size: 12px; 
  padding-left: 1px; 
  text-decoration: underline; 
  cursor: default; 
} 

/* CALENDAR */
.calendar_button
{
	border:none;
	cursor:pointer;
}

.picker
{
  background-color: #FFFFFF;
  border: 1px gray solid;
  font-size: 12px;
  font-weight: bold;
  font-family: "Verdana",monospace;
  padding: 2px;
  cursor: pointer;
  width:90px;
}

.calendar td
{
  font-size:11px;
}

.title
{
	font-weight:bold;
  background-color:#D7D7E5;
}

.day
{
	width:25px;
  cursor:pointer;
  text-align:center;
  border-width:1px;
  border-color:#F6F6F6;
  border-style:solid;
}

.dayhover
{
	width:25px;
  cursor:pointer;
  text-align:center;
  text-decoration:underline;
  border-width:1px;
  border-color:#F6F6F6;
  border-style:solid;
}

.dayheader
{
	width:25px;
  text-align:center;
  border-width:1px;
  border-color:white;
  border-style:solid;
  font-weight:bold;
  background-color:#FFFFFF;
}

.othermonthday
{
  color:#999999;
}

.outofrangeday
{
  visibility:hidden;
}

.selectedday
{
	width:25px;
  background-color:#FBE694;
  color:#444444;
  border-width:1px;
  border-color:#BB5503 !important;
  border-style:solid;
  font-weight:bold;
}

.calendar
{
  border-style:solid;
  border-width:1px;
  border-color:Black;
  border-collapse:collapse;
  background-color:#FFFFFF;
  cursor:default;
}

.month
{
  background-color:#F6F6F6;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  margin-top:0px;
}

.nextprev
{
  cursor:pointer;
  height:25px;
  vertical-align:middle;
  padding:0px 5px 0px 5px;
}

.selector
{
  width:14px;
  cursor:pointer;
  text-align:left;
  vertical-align:middle;
  background-color:#FFFFFF;
}

/* GRID */
.Grid 
{ 
  background-color: #FFFFFF;
  border: 1px solid gray; 
  cursor: pointer; 
}

.HeadingCell 
{ 
  background-color: #333333;
  border: 1px solid #555555;
  border-bottom-color: #444444;
  border-right-color: #444444;
}

.HeadingCellText
{
  color: #FFFFFF;
  font-family: verdana; 
  font-size: 10px; 
  font-weight: bold; 
  text-align: left;
  padding:3px;
}

.Row 
{ 
  background-color: #E2E2E2; 
}

.Row td.DataCell 
{ 
  cursor: default;
  padding: 3px; 
  border: 1px solid #FFFFFF; 
  border-right-color: #B5B5B5; 
  border-bottom-color: #B5B5B5; 
  font-family: verdana; 
  font-size: 10px; 
} 

.Row td.FirstDataCell 
{ 
  padding-left: 3px; 
  cursor: default;
} 

.SelectedRow 
{ 
  background-color: #FFEEC2; 
}

.SelectedRow td.DataCell 
{ 
  padding: 3px; 
  padding-left: 4px; 
  padding-bottom: 3px; 
  font-family: verdana; 
  font-size: 10px; 
  border-bottom: 1px solid #4B4B6F; 
  border-top: 1px solid #4B4B6F; 
  border-right: 0px; 
  cursor: default;
}

.SelectedRow td.FirstDataCell 
{ 
  border-left: 1px solid #4B4B6F; 
  border-right: 0px; 
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default;
}

.SelectedRow td.LastDataCell 
{ 
  border-right: 1px solid #4B4B6F; 
  cursor: default;
}

.GridFooter
{
  cursor: default;
  padding: 5px;
}

.GridFooter a 
{
  color: Black;
  font-weight: bold;
}

.PagerText
{ 
  font-family: verdana; 
  font-size: 11px; 
} 

/******************************************************************************************/
/* Begin styles for Sitemap                                                               */
/******************************************************************************************/
 
 .Header
 {
   background: url(images/header_bg.gif);
   background-color: #737294;
   color: #FFFFFF; 
   border: #57566F 1px solid; 
   border-bottom-width: 0px; 
   font-family: tahoma; 
   font-size: 11px;
   font-weight: bold; 
   padding: 5px; 
   cursor: default; 
 }
 
 .SiteMap
 {
   border:1px solid black;
   background-color:white;
   font-family: verdana; 
   font-size: 10px;
   padding-left:15px;
 }
 
 .RootNode
 { 
   color: black;
   font-family: verdana; 
   font-size: 10px;
   font-weight: bold;
   padding:7px;
   padding-top:7px;
   padding-bottom:1px;
 } 
 
 .RootNode a
 { 
   color: black;
   text-decoration:none;
 } 
 
 .RootNode a:hover
 { 
   color: black;
   text-decoration:underline;
 } 
 
 .ParentNode
 { 
   font-family: verdana; 
   font-size:10px;  
 } 
 
 .ParentNode a
 { 
   color: black;
   text-decoration:none;
 } 
 
 .ParentNode a:hover
 { 
   color: black;
   text-decoration:underline;
 } 
 
 .LeafNode
 { 
   color: black;
   font-family: verdana; 
   font-size:10px;  
 } 
 
 .LeafNode a
 { 
   color: black;
   text-decoration:none;
 } 
 
 .LeafNode a:hover
 { 
   color: black;
   text-decoration:underline;
 } 
/******************************************************************************************/
/* End styles for Sitemap                                                               */
/******************************************************************************************/ 
}