.gb-results {
  display: flex;
  flex-wrap: wrap;
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}

.gb-product > div {
  height: 396px;
  margin-bottom: 5px;
}

.desc-bottom {
  text-align: left;
}